<?xml version="1.0"?>

<config>
    <modules>
        <Smartz_GoogleCSE>
            <version>0.0.1</version>
        </Smartz_GoogleCSE>
    </modules>
    <frontend>
        <routers>
            <smartzgooglecse>
                <use>standard</use>
                <args>
                    <module>Smartz_GoogleCSE</module>
                    <frontName>smartzgooglecse</frontName>
                </args>
            </smartzgooglecse>
        </routers>
        <layout>
            <updates>
                <smartzgooglecse>
                    <file>smartz/smartzgooglecse.xml</file>
                </smartzgooglecse>
            </updates>
        </layout>
    </frontend> 
    <global>
        <blocks>
            <smartzgooglecse>
                <class>Smartz_GoogleCSE_Block</class>
            </smartzgooglecse>
        </blocks>        
		<helpers>
			<smartzgooglecse>
				<class>Smartz_GoogleCSE_Helper</class>
			</smartzgooglecse>
		</helpers>
        <models>
            <smartzgooglecse>
                <class>Smartz_GoogleCSE_Model</class>
            </smartzgooglecse>
        </models>
    </global>
</config>
